.nopadding {
    margin-top: 0 !important;
}

.navbar {
    background-color: #49071c;
}

footer.page-footer {
    background-color: #49071c;
    margin-top: 2rem;
}

.pattern-4 {
    background-attachment: fixed;
}

.view {
<<<<<<< HEAD
    background: url("https://images7.alphacoders.com/313/313727.jpg")no-repeat center center;
     -webkit-background-size: cover;
=======
    /* background: url("https://images.pexels.com/photos/225157/pexels-photo-225157.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center; */
    -webkit-background-size: cover;
>>>>>>> b9a36d204bab0ccb7ce80fc78a4e737bf8b731a0
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.full-bg-img {
    color: #fff;
}

.payment .fa:not(:first-child) {
    margin-left: 10px;
    color: rgba(255, 255, 255, .8);
}

input[type="text"]:focus:not([readonly]) {
    border-color: #C00;
    box-shadow: 0 1px 0 0 #C00;
    color: #fff;
}

input[type="text"]:not([readonly])+label {
    color: rgba(255, 255, 255, .65);
}

input[type="text"]:focus:not([readonly])+label {
    color: #fff;
}
.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}
.input{
    background-color: aqua;
    font-family:red;
}