.list1{
    background-image: linear-gradient(to left,rgba(165, 242, 149, 0.409),rgb(228, 234, 236));
}
.font{
    font-family: 'Times New Roman', Times, serif;
}
.sec{
    font-family: Arial, Helvetica, sans-serif;
}
.rev{
    font-family:Arial, Helvetica, sans-serif
}