/* 
.loginback{
    background-image: url("https://wallpaperaccess.com/full/4893706.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.inline-background{
    background-image: linear-gradient(to left,rgb(213, 223, 213),rgb(99, 165, 156));
}

.fa-brands{
    padding: 15px;
    font-size: 20px;
    margin: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Facebook */
  /* .fa-facebook-f{
    background: #3B5998;
    color:white;
  }
  .fa-brands:hover {
    opacity: 0.7;
  }
   */
  /* Twitter */
  /* .fa-whatsapp {
    background: #25D366;
    color: white;
  }
  
  .fa-instagram{
    background: #bc2a8d;
    color: white;
  }
  .pad{
      margin-left: 120px;
  }
  .or{
    margin: 10px;
    font-weight: bold;
    font-family:sans-serif;
  }

  .sideimg{
    background-repeat: no-repeat;
    background-size: cover;
     height: 600px;
     opacity: 0.5;
     }

  .third:hover {
    background-color: rgb(72, 66, 66);
    transition: background-color .5s;
    cursor:pointer;	
  }

  .inline-background{
    opacity: 0.7;
    cursor:pointer;	
    
  } */

  /* .inline-background:hover{
  background-color:orange;
  color:red;
	background-color:yellow;
	cursor:pointer;	
} */
        header,
        .strt {
          height: 100vh;
        }

        @media (max-width: 740px) {
          
          header,
          .strt {
            height: 815px;
          }
        }

        @media (min-width: 800px) and (max-width: 850px) {
          
          header,
          .strt {
            height: 650px;
          }
        }

        .intro_2 {
            background: url("http://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img%20(11).jpg") no-repeat center center;
            background-size: cover;
            height: 100vh;
        
        }
        .top-nav-collapse {
            background-color: #3f51b5 !important;
        }
        .navbar:not(.top-nav-collapse) {
            background: transparent !important;
        }
        @media (max-width: 768px) {
            .navbar:not(.top-nav-collapse) {
                background: #3f51b5 !important;
            }
        }
        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #3f51b5!important;
            }
        }

        .card {
            background-color: rgba(229, 228, 255, 0.2);
        }
        .md-form label {
            color: #ffffff;
        }
        h6 {
            line-height: 1.7;
        }
        

        .card {
            margin-top: 30px;
            margin-bottom: -45px;

        }

        .md-form input[type=text]:focus:not([readonly]),
        .md-form input[type=password]:focus:not([readonly]) {
            border-bottom: 1px solid #8EDEF8;
            box-shadow: 0 1px 0 0 #8EDEF8;
        }
        .md-form input[type=text]:focus:not([readonly])+label,
        .md-form input[type=password]:focus:not([readonly])+label {
            color: #8EDEF8;
        }

        .md-form .form-control {
            color: #fff;
        }
        