 .back{
    background-image: url("https://www.smith.edu/sites/default/files/media/Documents/College-Relations/fall-zoom-5.jpg");
    
    background-size: no-repeat;
    background-size: cover;
}

.card{
    background-image: url("");
} 

 .signup_div{
  height: 100vh;
}