 .back{
    background-image: url("https://www.mwallpapers.com/download-image/722829/1080x789");
    background-size: no-repeat;
    background-size: cover;
    /* opacity: 0.8; */
}

.card{
    background-image: linear-gradient(to left,rgba(236, 238, 243, 0.409),rgba(211, 248, 247, 0.957)); 
    
} 

 .signup_div{
  height: 100vh;
}