.image{
    opacity: 80%;
    height: 300px;
    width: 300px;
}
.main_paper{
    height: 500px;
    width: 1000px;
}
.resgister{
    margin-left: 25%;
    font-weight: bold;
    font-size: 30px;
    color: green;
    margin-top: 5%;
}
.go{
    color: black;
    margin-left: 30%;
}

