.backside{
    background-color: linear-gradient(to left rgb(20, 199, 32),rgb(145, 197, 145))
}
.bank_img{
    height: 10px;
    width: 10px;
}
.demoimg{
    width: 100%;
    position: sticky;
}
.demoimg.sticky{
    position: sticky;
}

/* table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  } */
  th, td {
    background-color: #35abab;
  }
  table, th, td {
    /* border: 1px solid black; */
    border-radius: 10px;
  }